* {
  text-align: center;
  box-sizing: border-box
}

h1,
h4,
footer p,
#directions p,
.win,
.loss,
.guess-sum,
.random-number {
  font-family: 'Bangers', cursive;
}

h1 {
  font-size: 300%;
}

h4 {
  font-size: 150%;
}

header,
footer p {
  color: #f65275;
  text-shadow: -1px 0 gold, 0 1px gold, 1px 0 gold, 0 -1px gold;
}

header {
  border-bottom: 1px solid indigo;
}

footer p {
  height: 60px;
  width: 100%;
  overflow:hidden;
  border-top: 1px solid indigo;
  padding-top: 15px;
}

body {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.section-title {
  color: indigo;
}

.gem {
  max-width: 20%;
  height: auto;
  padding: 10px;
  display: inline-block;
}

.activity {
  padding: 2%;
}

.wrapper {
  padding-left: 10%; 
  padding-right: 10%;
}

.gem-holder {
  /*background-color: #f3f3f3;*/
  margin-right: 15%;
  margin-left: 15%;
  /*border: 4px solid indigo;*/
  max-width: 100%
  padding: 5%;
  height: auto;
}

.gem-holder:active {
  
}

.random-number,
.guess-sum {
  padding-top: 2%;
  font-size: 200%;
  height: 65px;
  text-shadow: -1px 0 darkcyan, 0 1px darkcyan, 1px 0 darkcyan, 0 -1px darkcyan;
}

.scoreboard,
.guess-sum,
.random-number {
  background-color: #f3f3f3;
  margin-right: 25%;
  margin-left: 25%;
  border: 4px solid indigo;
  margin-bottom: 15px;
  margin-top: 15px;
}

.section-title {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.loss {
  padding-left: 15px;
}

.white-gem {
  background: crimson; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(rgba(243,243,243,.85), rgba(243,243,243,0) ); /* Safari 5.1-6.0 */
  background: -o-radial-gradient(rgba(243,243,243,.85), rgba(243,243,243,0) ); /* For Opera 11.6-12.0 */
  background: -moz-radial-gradient(rgba(243,243,243,.85), rgba(243,243,243,0) ); /* For Firefox 3.6-15 */
  background: radial-gradient(rgba(243,243,243,.85), rgba(243,243,243,0) ); /* Standard syntax */
}

.yellow-gem {
  background: sandybrown; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(rgba(252,194,71,.85), rgba(252,194,71,0) ); /* Safari 5.1-6.0 */
  background: -o-radial-gradient(rgba(252,194,71,.85), rgba(252,194,71,0) ); /* For Opera 11.6-12.0 */
  background: -moz-radial-gradient(rgba(252,194,71,.85), rgba(252,194,71,0) ); /* For Firefox 3.6-15 */
  background: radial-gradient(rgba(252,194,71,.85), rgba(252,194,71,0) ); /* Standard syntax */
}

.green-gem {
  background: greenyellow; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(rgba(193,231,59,.85), rgba(193,231,59,.0)); /* Safari 5.1-6.0 */
  background: -o-radial-gradient(rgba(193,231,59,.85), rgba(193,231,59,.0) ); /* For Opera 11.6-12.0 */
  background: -moz-radial-gradient(rgba(193,231,59,.85), rgba(193,231,59,.0) ); /* For Firefox 3.6-15 */
  background: radial-gradient(rgba(193,231,59,.85), rgba(193,231,59,.0) ); /* Standard syntax */
}

.blue-gem {
  background: turquoise; /* For browsers that do not support gradients */
  background: -webkit-radial-gradient(rgba(78,222,250,.85), rgba(78,222,250,0) ); /* Safari 5.1-6.0 */
  background: -o-radial-gradient(rgba(78,222,250,.85), rgba(78,222,250,0) ); /* For Opera 11.6-12.0 */
  background: -moz-radial-gradient(rgba(78,222,250,.85), rgba(78,222,250,0) ); /* For Firefox 3.6-15 */
  background: radial-gradient(rgba(78,222,250,.85), rgba(78,222,250,0) ); /* Standard syntax */
}

@media only screen and (max-width: 960px) {
  .gem {
    max-width: 25%;
  }
}

@media only screen and (max-width: 650px) {
  .gem {
    max-width: 40%;
  }
}

@media only screen and (max-width: 500px) {
  .gem {
    max-width: 45%;
  }
}

#directions {
  background-color: lightgray;
  opacity: .8;
}

#dirTitle {
  font-size: 150%;
}