* {
  text-align: center;
}

h1,
h4,
footer p,
.win,
.loss,
.guess-sum,
.random-number {
  font-family: 'Bangers', cursive;
}

h1 {
  font-size: 300%;
}

h4 {
  font-size: 150%;
}

header,
footer p {
  color: #f65275;
  text-shadow: -1px 0 gold, 0 1px gold, 1px 0 gold, 0 -1px gold;
}

header {
  border-bottom: 1px solid indigo;
}

footer p {
  height: 60px;
  width: 100%;
  overflow:hidden;
  border-top: 1px solid indigo;
  padding-top: 15px;
}

body {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.section-title {
  color: indigo;
}

.gem {
  max-width: 70px;
  max-height: 70px;
  padding: 10px;
}

.gem:hover {
  width: 85px;
  height: 85px;
  padding: 2px;
}

.activity {
  padding: 2%;
}

.wrapper {
  padding-left: 15%; 
  padding-right: 15%;
}

.gem-holder {
  background-color: #f3f3f3;
  margin-right: 25%;
  margin-left: 25%;
  border: 4px solid indigo;
  height: 100px;
}

.gem-holder:active {
  border: 8px solid gold;
}

.random-number,
.guess-sum {
  padding-top: 2%;
  font-size: 200%;
  height: 65px;
  text-shadow: -1px 0 darkcyan, 0 1px darkcyan, 1px 0 darkcyan, 0 -1px darkcyan;
}

.scoreboard,
.guess-sum,
.random-number {
  background-color: #f3f3f3;
  margin-right: 25%;
  margin-left: 25%;
  border: 4px solid indigo;
  margin-bottom: 15px;
  margin-top: 15px;
}

.section-title {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.loss {
  padding-left: 15px;
}

